@model IEnumerable<GSM.Models.ImportInvoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách phiếu nhập</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Tạo phiếu nhập</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Số phiếu nhập</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMoney)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImportInvoiceID)
                    </td>
                    <td>
                        @Html.FormatValue(item.CreateDate, "{0:dd-MM-yyyy}")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalMoney)
                    </td>
                    <td>
                        <a asp-controller = "ImpInvoiceDetail" asp-action="Index" asp-route-id="@item.ImportInvoiceID">Chi tiết</a> |
                        <a asp-action="Delete" asp-route-id="@item.ImportInvoiceID">Xoá</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
