@model IEnumerable<GSM.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Thống Kê</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Tạo mới loại vàng</a>
    <a class="btn btn-success" asp-controller="ImportInvoice" asp-action="Create">Nhập hàng</a>
    <a class="btn btn-info" asp-controller="DataNormalization" asp-action="CategoryDataNormalization">Chuẩn hoá dữ liệu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntoMoney)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalWeight)
            </td>
            <td>
                @string.Format("{0:0,0}", item.UnitPrice)
            </td>
            <td>
                @string.Format("{0:0,0}", item.IntoMoney)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryID">Sửa</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryID">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
