@model IEnumerable<GSM.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách hoá đơn @ViewBag.countInvD</h1>

<div class="row mb-2">
    <a asp-controller="Sale" asp-action="Create" class="btn btn-primary">Tạo hoá đơn mới</a>
</div>
<div class="row mb-2 p-2 border rounded border-primary">
    <form asp-action="Index">
        <label>Từ ngày: </label><input type="date" name="startTime" class="ml-2"/>
        <label>Đến ngày: </label><input type="date" name="finishTime" class="ml-2"/>
        <input type="text" placeholder="Nhập từ khoá muốn tìm kiếm" name="key"/>
        <input type="submit" class="btn btn-primary" value="Tìm kiếm"/>
    </form>
</div>

<table class="table" id="InvoiceTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMoney)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.FormatValue(item.CreateDate, "{0:dd-MM-yyyy}")
            </td>
            <td>
                @string.Format("{0:0,0}", item.TotalMoney)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceID">Sửa</a> |
                <a asp-action="Delete" asp-route-id="@item.InvoiceID">Xoá</a> |
                <a asp-action="Detail" asp-route-id="@item.InvoiceID">Chi tiết hoá đơn</a> |
                <form asp-action="PrintInvoice">
                    <input type="hidden" name="invoiceID" value="@item.InvoiceID"/>
                    <input type="submit" class="btn btn-primary" value="In hoá đơn"/>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            ReWriteNumber();
        });
        function ReWriteNumber() {
            var MyTable = document.getElementById('InvoiceTable');
            var rowCount = $("#InvoiceTable tr").length;
            for (let i = 1; i < rowCount; i++) {
                MyTable.rows[i].cells[0].innerHTML = i;
            }
        }
    </script>
}