@model GSM.Models.Invoice

@{
    ViewData["Title"] = "Create";
}
<h1>@ViewBag.mess</h1>
<h3>Thông tin khách hàng</h3>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-7">
                    <label class="col-md-4">Họ tên khách hàng: </label>
                    <input class="col-md-7" id="CustomerName" name="CustomerName" placeholder="Nhập họ tên khách hàng" />
                </div>
                <div class="col-md-4">
                    <label>Số: @ViewBag.InVoiceKey</label>
                    <input id="InvoiceNumber" name="InvoiceNumber" value="@ViewBag.InVoiceKey" readonly hidden />
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <label class="col-md-4">Địa chỉ: </label>
                    <input id="Address" class="col-md-7" name="Address" placeholder="Nhập địa chỉ" />
                </div>
                <div>
                    <label>Số điện thoại: </label>
                    <input id="PhoneNumber" name="PhoneNumber" placeholder="Nhập số điện thoại" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Ngày: @DateTime.Now.Day</label>
                </div>
                <div class="col-md-3">
                    <label>Tháng: @DateTime.Now.Month</label>
                </div>
                <div class="col-md-3">
                    <label>Năm: @DateTime.Now.Year</label>
                </div>
                <div class="col-md-3">
                    <label>Thời gian: @DateTime.Now.ToShortTimeString()</label>
                </div>
            </div>
        </form>
    </div>
</div>
<hr />
<h3>Thông tin sản phẩm</h3>
<div class="row">
    <div class="row">
        <div class="ml-3">
            <label><b>Nhập tên sản phẩm:</b></label>
        </div>
        <div class="autocomplete col-md-8" style="width:40em;">
            <input id="myInput" type="text" name="myProduct" placeholder="Nhập tên sản phẩm" required>
        </div>
    </div>
    <div class="row">
        <br />
        <div class="col-lg-3">
            <label>Tổng trọng lượng:</label>
            <input value="2" type="number" name="SumWeight" id="SumWeight" placeholder="Tổng trọng lượng"/>
        </div>
        <div class="col-lg-3">
            <label>% Vàng:</label>
            <input value="50" type="number" name="PercentGold" id="PercentGold" placeholder="% vàng" />
        </div>
        <div class="col-lg-3">
            <label>Trọng lượng vàng:</label>
            <input value="1" type="number" name="GoldWeight" id="GoldWeight" placeholder="Trọng lượng vàng" />
        </div>
        <div class="col-lg-3">
            <label>Đơn giá vàng:</label>
            <input value="1" type="number" name="GoldUnitPrice" id="GoldUnitPrice" placeholder="Đơn giá vàng" />
        </div>
        <div class="col-lg-3">
            <label>Trọng lượng đá:</label>
            <input value="1" type="number" name="GemstoneWeight" id="GemstoneWeight" placeholder="Trọng lượng đá" />
        </div>
        <div class="col-lg-3">
            <label>Đơn giá đá:</label>
            <input value="1" type="number" name="GemstoneUnitPrice" id="GemstoneUnitPrice" placeholder="Đơn giá đá" />
        </div>
        <div class="col-lg-3">
            <label>Công chế tác:</label>
            <input value="1" type="number" name="CraftingWages" id="CraftingWages" placeholder="Công chế tác" />
        </div>
        
        <input type="button" class="btn btn-primary add-row mt-3" value="Thêm Sản phẩm" />
    </div>
</div>
<hr />
<div class="row mb-1">
    <h3>Thông tin Đơn hàng</h3>
    <button type="button" class="btn btn-primary ml-1" id="btnSaveInvoice">Lưu thông tin hoá đơn</button>
</div>

<div>
    <table id="InvoiceDetail" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" rowspan="2" align="center" class="text-center">STT</th>
                <th scope="col" rowspan="2" align="center" class="text-center">Tên hàng</th>
                <th scope="col" rowspan="2" align="center" class="text-center">Tổng trọng lượng</th>
                <th scope="col" colspan="3" class="text-center">Vàng</th>
                <th scope="col" colspan="2" class="text-center">Đá</th>
                <th scope="col" rowspan="2" align="center" class="text-center">Công chế tác</th>
                <th scope="col" rowspan="2" align="center" class="text-center">Thành tiền</th>
                <th scope="col" rowspan="2" align="center" class="text-center">Thao</th>
            </tr>
            <tr>
                <th scope="col">(%)</th>
                <th scope="col">Trọng lượng</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Trọng lượng</th>
                <th scope="col">Đơn giá</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <label id="TextTotalMoney">Tổng cộng: 0 </label>
    <input name="TotalMoney" type="number" value="0" id="TotalMoney" hidden/>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#InvoiceDetail").on('click','.btnDelete',function(){
                $(this).closest('tr').remove();
                ReWriteNumber();
            });
            $(".add-row").click(function () {
                var myProduct = $('#myInput').val();
                var SumWeight = parseInt($('#SumWeight').val());
                var PercentGold = parseInt($('#PercentGold').val());
                var GoldWeight = parseInt($('#GoldWeight').val());
                var GoldUnitPrice = parseInt($('#GoldUnitPrice').val());
                var GemstoneWeight = parseInt($('#GemstoneWeight').val());
                var GemstoneUnitPrice = parseInt($('#GemstoneUnitPrice').val());
                var CraftingWages = parseInt($('#CraftingWages').val());

                var IntoMoney = GoldWeight * GoldUnitPrice + GemstoneWeight * GemstoneUnitPrice + CraftingWages;
                var TotalMoney = parseInt($('#TotalMoney').val());
                var newRow = "<tr>";
                newRow += '<td class="countNumber"></td>';
                newRow += '<td>' + myProduct +'</td>';
                newRow += '<td>' + SumWeight + '</td>';
                newRow += '<td>' + PercentGold + '</td>';
                newRow += '<td>' + GoldWeight + '</td>';
                newRow += '<td>' + GoldUnitPrice + '</td>';
                newRow += '<td>' + GemstoneWeight + '</td>';
                newRow += '<td>' + GemstoneUnitPrice + '</td>';
                newRow += '<td>' + CraftingWages + '</td>';
                newRow += '<td>' + IntoMoney.toLocaleString() + '</td>';
                newRow += '<td>' + '<button class="btn btn-primary btnDelete">Delete</button>' + '</td>';
                newRow += '</tr>';

                $("table tbody").append(newRow);
                ReWriteNumber();
                TotalMoney += IntoMoney;
                $('#TextTotalMoney').html("Tổng cộng: " + TotalMoney.toLocaleString());
                $('#TotalMoney').val(TotalMoney);
            });
            $("#btnSaveInvoice").click(function () {
                //get information of Invoice
                var cusName = document.getElementById('CustomerName').value;
                var invNum = document.getElementById('InvoiceNumber').value;
                var invaddress = document.getElementById('Address').value;
                var invPhone = document.getElementById('PhoneNumber').value;
                var creDate = Date.now();
                var invCode = "";
                var totalM = document.getElementById('TotalMoney').value;
                var isPaid = false;
                var invc = {CustomerName:cusName, InvoiceNumber:invNum, Address:invaddress, PhoneNumber:invPhone, CreateDate:creDate, InvoiceCode:invCode, TotalMoney:totalM, IsPaid:isPaid};
                //get information of Invoice Detail
                var listInvD = [];
                var table = document.getElementById('InvoiceDetail');
                for (var r = 2, n = table.rows.length; r < n; r++) {
                    var invDetail = {};
                    invDetail.InvoiceNumber = invNum;
                    invDetail.ProductName = table.rows[r].cells[1].innerHTML;
                    invDetail.SumWeight = table.rows[r].cells[2].innerHTML;
                    invDetail.PercentGold = table.rows[r].cells[3].innerHTML;
                    invDetail.GoldWeight = table.rows[r].cells[4].innerHTML;
                    invDetail.GoldUnitPrice = table.rows[r].cells[5].innerHTML;
                    invDetail.GemstoneWeight = table.rows[r].cells[6].innerHTML;
                    invDetail.GemstoneUnitPrice = table.rows[r].cells[7].innerHTML;
                    invDetail.CraftingWages = table.rows[r].cells[8].innerHTML;
                    invDetail.IntoMoney = table.rows[r].cells[9].innerHTML;
                    listInvD.push(invDetail);
                    //
                }
                $.ajax({
                    url: '/Sale/Create',
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: {"invoice":invc, "listInv":listInvD},
                    success: function (r) {
                        alert(r);
                        //location.reload();
                        window.location.href = "/Invoice";
                    },
                    error: function(x) {
                        console.log(x);
                    }
                });
            });
        });
        function ReWriteNumber() {
            var MyTable = document.getElementById('InvoiceDetail');
            var rowCount = $("#InvoiceDetail tr").length;
            for (let i = 2; i < rowCount; i++) {
                MyTable.rows[i].cells[0].innerHTML = i-1;
            }
        }
        var products = [];
        @foreach (var item in ViewBag.ListProduct){
                @:products.push("@Html.Raw(@item)");
        }
        //alert(products);
        
    </script>
    <script src="~/js/AutoComplate.js"></script>
}