@model IEnumerable<GSM.Models.ImportInvoiceDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách sản phẩm</h1>

<p>
    <a class="btn btn-primary" asp-controller="ImportInvoice" asp-action="Delete" asp-route-id="@ViewBag.impInvID">Xoá phiếu nhập</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoldUnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntoMoney)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SumWeight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GoldUnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IntoMoney)
                    </td>
                </tr>
        }
    </tbody>
</table>
